<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}Time to Eat!{{else}}eaten!{{/if}}
	</button>

	<button class="remove-burger" data-id="{{this.id}}">DELETE!</button>
</li>
